@model Product
@using CSC595_Week04.Models
@{
    ViewData["Title"] = "Error";
    Layout = "_Layout";
}

<h1>We ran into an issue, please make sure you are logged in.</h1>

<img src="~/images/gamesite-logo.jpg" width ="200"/>
